@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-normal {
  font-family: 'Open Sans', serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/* Shared Style */
.text-primary {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.btn-primary {
  background: #fd6e0a;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
}

/* Header  */

header {
  /* background-image:  url('./assets/header_bg.png'); */
  background-image: url(./assets/developer.png), url(./assets/test.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav Styles */
nav {
  display: flex;

  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* Banner Style */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.bannerContent {
  max-width: 580px;
}

.bannerGreetings {
  font-size: 45px;
  font-weight: 600;
}

.bannerTitle {
  font-size: 85px;
  font-weight: bold;
}

.bannerProfilePic {
  width: 580px;
}
